<html>
    <head>
        {% block head %}
            <link rel="stylesheet" href="/public/css/main.css">
            <title>{% block title %}{% endblock %} - My PHP PSR framework</title>
        {% endblock head %}
    </head>
    <body>
    <div id="content">
        {% block content %}

        {% endblock %}
    </div>
    </body>
</html>
